.containerupcoming {
    display: flex;

}
.sidebox1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    
    font-size:xx-large;
    font-weight: 600;
    color: red;
    width: 50px;
   
}

.sidebox2 {
    display: flex;
    justify-content: start;
    align-items: center;
   
    color: white;
    width: 50px;
    height: 425px;
    writing-mode: vertical-rl;
    rotate:180deg;
    padding: 10px 10px;
    text-overflow: ellipsis;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.imgcartoon {
    width: auto;
    height: 450px;
}

